<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfian.prac.mapper.CClassifyPOMapper">

  <resultMap id="BaseResultMap" type="com.microfian.prac.entity.Classify">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classify_name" jdbcType="VARCHAR" property="classifyName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_available" jdbcType="INTEGER" property="isAvailable" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="classify_order" jdbcType="INTEGER" property="classifyOrder" />
  </resultMap>


  <sql id="Base_Column_List">
    id, classify_name, parent_id, create_time, update_time, is_available, is_deleted, 
    `classify_order`
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_classify
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selCClassify" parameterType="com.microfian.prac.DTO.CClassifyDTO" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from
        c_classify
    where
        is_deleted=0
        and is_available=1
        <if test="parentId !=null" >
            and parent_id=#{parentId}
        </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_classify
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.microfian.prac.entity.Classify">
    insert into c_classify (id, classify_name, parent_id, 
      create_time, update_time, is_available, 
      is_deleted, classify_order)
    values (#{id,jdbcType=INTEGER}, #{classifyName,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{isAvailable,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER}, #{classifyOrder,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.microfian.prac.entity.Classify">
    insert into c_classify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classifyName != null">
        classify_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isAvailable != null">
        is_available,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="classify_order != null">
        classifyOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classifyName != null">
        #{classifyName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAvailable != null">
        #{isAvailable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="classifyOrder != null">
        #{classify_order,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.microfian.prac.entity.Classify">
    update c_classify
    <set>
      <if test="classifyName != null">
        classify_name = #{classifyName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAvailable != null">
        is_available = #{isAvailable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="classifyOrder != null">
        classify_order = #{classifyOrder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.microfian.prac.entity.Classify">
    update c_classify
    set classify_name = #{classifyName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_available = #{isAvailable,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      classify_order = #{classifyOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>