<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.microfian.prac.web.mapper.CRelationPOMapper">

  <resultMap id="BaseResultMap" type="com.microfian.prac.web.entity.CRelationPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_available" jdbcType="INTEGER" property="isAvailable" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, create_time, update_time, is_available, is_deleted, user_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_relation
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="com.microfian.prac.web.entity.CRelationPO" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from
        c_relation
    where
        is_available=1
        and is_deleted=0
        and user_id=10000000
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.microfian.prac.web.entity.CRelationPO">
    insert into c_relation (id, name, create_time, 
      update_time, is_available, is_deleted, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isAvailable,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.microfian.prac.web.entity.CRelationPO">
    insert into c_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isAvailable != null">
        is_available,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAvailable != null">
        #{isAvailable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.microfian.prac.web.entity.CRelationPO">
    update c_relation
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAvailable != null">
        is_available = #{isAvailable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.microfian.prac.web.entity.CRelationPO">
    update c_relation
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_available = #{isAvailable,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>